#ulContainer{
    display: flex;
    justify-content: space-around;
}

#navbarContainer{
    border: 5px solid green;
    background-color: lightgrey;
}



.line{
    margin: 20px;
}

.title {
    text-align: center;
}

.section-container{
    display: flex;
    justify-content: space-around;
}

.outer-container{
    height: 340px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}


.lower-container{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    flex-grow: 1;
}

.card-title{
    text-align: center;
    font-size: 15px;
}

.card-list{
    margin-top: -20px;
}

.card-button{
    background-color: white;
    width: 50%;
    align-self: center;
    margin-top: auto;
    margin-bottom: 15px;
    width: 125px;
}

#teachingImg{
    height: 160px;
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ed-outer-container{
    height: 250px;
    width: 175px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin: 30px;
}

.ed-lower-container{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    flex-grow: 1;
}

#pucrsImg{
    height: 125px;
    width: 175px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#ed-section{
    justify-content: center;
}

#div-container{
    display: flex;
    justify-content: flex-end;
    
 
}

#headerImg{
    height: 300px;
    width: 300px;
    margin-right: 80px;
    border: 10px solid green;
    border-radius: 10px;

}

#objectivismButton{
    color: blue;
}

