#navbar {
    display: flex;
    justify-content: space-around;
}

.line{
    margin: 20px;
}

.title {
    text-align: center;
}

.section-container{
    display: flex;
    justify-content: space-around;
}

.outer-container{
    height: 450px;
    width: 235px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}


.lower-container{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    flex-grow: 1;
}

.card-title{
    text-align: center;
    font-size: 15px;
}

.card-list{
    margin-top: -20px;
}

.card-button{
    background-color: white;
    width: 50%;
    align-self: center;
    margin-top: auto;
    margin-bottom: 15px;
}

#teachingImg{
    height: 250px;
    width: 235px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ed-outer-container{
    height: 250px;
    width: 175px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin: 30px;
}

.ed-lower-container{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    flex-grow: 1;
}

#pucrsImg{
    height: 125px;
    width: 175px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#ed-section{
    justify-content: center;
}